bin/Debug/netcoreapp2.1/BookAppStoreAPI.dll
bin/Debug/netcoreapp2.1/BookAppStoreAPI.pdb
obj/Debug/netcoreapp2.1/BookAppStoreAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/BookAppStoreAPI.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.1/BookAppStoreAPI.dll
bin/Debug/netcoreapp2.1/BookAppStoreAPI.pdb
obj/Debug/netcoreapp2.1/BookAppStoreAPI.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/BookAppStoreAPI.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.1/BookAppStoreAPI.dll
bin/Debug/netcoreapp2.1/BookAppStoreAPI.pdb
obj/Debug/netcoreapp2.1/BookAppStoreAPI.csproj.FileListAbsolute.txt
